.container {
    height: auto;
    width: auto;
}
body {
    background-color: #ca0226 !important;
}
.logo img{
    width: 60px;
    height: 60px;
    right: 40px;
}
.container-fluid{
    color: #ffffff !important;
}


